[project]
name = "elegoo_printer"
version = "2.1.0b2"
requires-python = ">=3.13"
description = "Home Assistant Addon for Elegoo Printers"
dependencies = [
    "colorlog>=6.9.0",
    "homeassistant==2025.4.0",
    "loguru>=0.7.3",
    "ruff>=0.9.10",
    "websocket-client>=1.8.0",
    "websockets>=15.0.1",
]

[dependency-groups]
dev = [
    "pytest>=8.4.1",
]
[tool.ruff]
target-version = "py313"
[lint]
select = ["ALL"]
ignore = [
    "ANN101",
    "ANN401",
    "D203",
    "D212",
    "COM812",
    "ISC001",
    "G004",
]
[flake8-pytest-style]
fixture-parentheses = false
[pyupgrade]
keep-runtime-typing = true
[mccabe]
max-complexity = 25

[tool.pytest.ini_options]
pythonpath = [
  "."
]

