name: "Test"
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
jobs:
  pytest:
    name: "Pytest"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v6"

        - name: Install uv
          uses: astral-sh/setup-uv@v7 
          with:
            enable-cache: true
            cache-dependency-glob: "uv.lock"

        - name: "Set up Python"
          uses: actions/setup-python@v6
          with:
            python-version-file: ".python-version"

        - name: "Install requirements"
          run: uv sync --all-extras --dev 
        - name: "Test"
          run: uv run pytest
